
	<header>
		<h1>Resto Trop bien !</h1>
		<h2>Miam ici on mange bien 🍣 </h2>
	</header>

	<main>
		<div class="nav1">
			<button id="presentation">Présentation</button>
				<div id="contenu1">
					<h3 id="titre1">Présentation</h3>
					<p>Bananaaa!!  Gimme latin!!<br/>
Minions ipsum hana dul sae baboiii hahaha belloo! Potatoooo baboiii tank yuuu! Me want bananaaa! Daa poopayee baboiii aaaaaah. Poulet tikka masala gelatooo pepete poopayee gelatooo. La bodaaa hahaha bee do bee do bee do ti aamoo! Aaaaaah uuuhhh underweaaar tatata bala tu po kass. Bappleees ti aamoo! Jeje jiji poopayee jeje jeje hahaha baboiii. Po kass baboiii butt belloo! Daa jeje poopayee para tú hahaha aaaaaah ti aamoo! Hana dul sae wiiiii belloo!</p>
					<p>On mange de bonnes choses c'est bon !</p>
				</div>
		</div>

		<div class="nav2">
			<button id="menu">Menu</button>
				<div id="contenu2">
					<h3 id="titre2">Menu</h3>
					<p>Salade de thon<br/>
						Plats façon nature<br/>
					Macaron</p>
				</div>
		</div>

		<div class="nav3">
			<button id="lorem">Lorem</button>
				<div id="contenu3">
					<h3 id="titre3">Lorem des familles</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
		</div>

	</main>

<%= javascript_include_tag 'index.js' %>
